/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block-start: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-variation-settings: "wght" var(--main-font-weight);
  font-family: var(--page-main-font);
  font-size: var(--main-font-size);

  background-image: var(--page-background-image);
  background-color: var(--page-background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section__rubbering {
  /*max-inline-size: clamp(var(--min-block-width), 100%, var(--max-block-width));*/
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.section__decorating {
  outline: 2px solid var(--page-main-color);
  background: var(--page-background-color);
}

.section__flexing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-family: var(--page-accent-font);
  margin: 0 auto;
  
}

.header__title-block {
  align-items: center;
  min-width: 100%;
  gap: 20px;
  padding-block: clamp(120px, var(--breakpoint-simulation) * 1000, 128px);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;

}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  margin: 100px auto 103px;
  line-height: var(--main-text-line-height);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__list-item {
  background: var(--page-background-color);
}

.card__list-heading {
  font-variation-settings: "wght" var(--heading-font-weight);
  font-size: var(--heading-font-size);
  padding-block: 5px;
  padding-inline: 10px;
  min-block-size: 33px;
}

.card__figure {
  position: relative;
  margin: 0;
  /*width: 100%;
  height: 100%;*/
  overflow: clip;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--page-accent-font);
  font-size: var(--button-font-size);
  font-weight: var(--main-font-weight);
  line-height: normal;
  text-transform: uppercase;
  text-shadow:
  -1px 0 var(--page-background-color), 
  0 1px var(--page-background-color),  
  1px 0 var(--page-background-color), 
  0 -1px var(--page-background-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
}

@supports (
  (-webkit-text-stroke: 1px var(--page-background-color)) or
    (text-stroke: 1px var(--page-background-color))
) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--page-background-color);
    text-stroke: 1px var(--page-background-color);
      text-shadow: none;
  }
}

.grayscale {
  filter: grayscale(75%);
}

.saturate {
  filter: saturate(400%);
}

.hue-rotate {
  filter: hue-rotate(45deg);
}

.sepia {
  filter: sepia(1);
}

.multiple {
  filter: contrast(95%) hue-rotate(-15deg) saturate(130%);
}

.blur {
  filter: blur(10px);
}

.invert {
  filter: invert(1);
}

.card__image {
  display: block;
  width: 100%; /*696px;*/
  height: auto; /*696px;*/
  object-fit: cover;
  background-position : center;
}

.card__content {
  gap: 25px;
  padding: 25px;
}

.card__text {
  gap: 27px;
}

.card__text p {
  overflow-wrap: anywhere;
}

.button-decoring {
  font-family: var(--page-accent-font);
  font-size: var(--button-font-size);
  line-height: var(--button-text-line-height);
  background: var(--like-button-text-color);
}

.button-focus-visible:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--like-button-outline-color);
  transition: box-shadow 0.3s ease;
}

.button-focus:focus {
  outline: none;
}

.card__button-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.button__text {
  color: var(--page-main-color);
}

.card__icon-button {
  padding: 0;
  border: none;
  min-block-size: 38px;
  min-inline-size: 38px;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--page-main-color);
  transition: border 0.3s ease;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
  border: 2px solid var(--page-main-color);
  cursor: pointer;
}

.button-diff {
  position: relative;
  overflow: clip;
}

.button-diff__content {
  color: var(--diff-content-color);
  mix-blend-mode: difference;
}

.button-diff::before {
  position: absolute;
  content: '';
  inset: 0;
  background-color: var(--page-main-color);
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.button-diff:hover::before {
  transform: translateX(0);
}

.memories__button {
  margin: 50px auto 0;
  gap: 8px;
  align-items: center;
}

.card__save-button {
  min-block-size: 55px;
  min-inline-size: 335px;
  color: var(--page-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button__icon {
  block-size: 21px;
  inline-size: 21px;
}

.memories-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-inline-size: 353px;
  padding: 30px;
}

.memories-dialog[open] .dialog__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: var(--page-accent-font);
  line-height: 1.5;
  text-transform: uppercase;
}

.memories-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.memories-dialog[open] .dialog__icon {
  /*min-block-size: 39px;*/
  max-inline-size: 39px;
}

.memories-dialog[open] .dialog__button {
  min-inline-size: 293px;
  min-block-size: 38px;
}

.memories-dialog[open] .dialog__text {
  font-family: var(--page-accent-font);
  font-size: var(--button-font-size);
  line-height: var(--dialog-text-line-height);
}

@media (width <= 375px) {
  .main {
    margin: 100px auto 100px;
  }

  .card__list-heading {
    padding-block: 5px;
  }

  .memories-dialog[open] {
    max-inline-size: 341px;
    padding: 30px 40px;
  }

  .memories-dialog[open] .dialog__button {
    min-inline-size: 257px;
  }

  .card__save-button {
    flex-direction: column;
    min-inline-size: 306px;
    min-block-size: 84px;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }
}