/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --page-main-font: "Inter", "EB Garamond", "STIX Two Text", sans-serif;
    --page-accent-font: "PressStart2P", fantasy;
    --main-font-weight: 400;
    --main-font-size: 18px;
    --main-text-line-height: 1.17;
    --heading-font-weight: 700;
    --heading-font-size: 18px;

    --button-font-size: 14px;
    --button-text-line-height: 0.9;
    --dialog-text-line-height: 1.5;
    --page-background-image: 
      repeating-linear-gradient(to right,#d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --page-background-color: #fff;
    --page-main-color: #000;
    --page-accent-color:  #FF0000;
    --min-block-width: 375px;
    --max-block-width: 696px;

    --breakpoint: 375px;
    --breakpoint-simulation: calc(100vw - var(--breakpoint));

    --like-button-outline-color: #000;
    --like-background-color: #FF0000;
    --like-button-text-color: #fff;
    --diff-content-color: var(--page-background-color);
}